.update-password-container {
    width: 310px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.update-password-container label,
.update-password-container input{
    font-size: 24px;
}

.change-password-btn {
    width: 100%;
    margin-top: 57px;
    font-size: 14px;
    font-weight: 400;
}

.update-password-header {
    height: 20px;
    font-size: 24px;
}

.update-password-header.error {
    color: red;
}

.update-password-header.success {
    color: white;
}

.alert-update-password {
    position: fixed;
    top: 30px;
    right: 70px;
}

.alert-update-password span {
    font-size: 16px;
}