.login-container {
    width: 420px;
    margin: 0 auto;
}
.login-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-container h1 {
    text-align: center;
}