.header-main-page-logo-container img {
    width: 190px;
}

.header-main-page-container-top,
.header-main-page-container-bottom {
    display: flex;
    justify-content: space-between;
}

.red-line {
    background-color: #fa411c;
    height: 6px;
    flex-grow: 1;
}

.social-link-container {
    width: 370px;
    margin-top: 20px;
    font-size: 12px !important;
    opacity: 0.3;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-line {
    opacity: 0.3;
    border: solid 1px #979797;
    width: 112px;
}

.header-main-page-container-bottom {
    padding: 20px 125px 0;
}

.header-main-container-main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.header-main-page-btn-container {
    height: 100%;
    width: 245px;
    align-items: center;
}

.header-main-page-pages-container {
    margin-right: 60px;
    width: 300px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding-top: 10px;
}

.header-main-page-pages-container > a,
.header-main-page-pages-container > a:hover,
.social-link-container > a,
.social-link-container > a:hover,
.social-link-container > a:active,
.social-link-container > a:focus {
    color: #CECECF;
    text-decoration: none;
}

.header-main-page-btn-container button,
.header-main-page-btn-container a {
    font-family: 'Open Sans Bold';
    font-weight: 600;
    font-size: 16px;
}

.header-main-page-btn-container a:hover,
.header-main-page-btn-container a:active,
.header-main-page-btn-container a:focus {
    color: #fa411c;
}

.header-main-page-btn-container a.active-link-main:hover,
.header-main-page-btn-container a.active-link-main:active,
.header-main-page-btn-container a.active-link-main:focus {
    color: #ffffff;
}

.header-main-page-btn-container > .sing-btn,
.header-main-page-btn-container a {
    text-transform: uppercase;
    background-color: transparent !important;
    color: #fa411c;
    padding: 0;
}

.header-main-page-btn-container > .sing-btn:hover,
.header-main-page-btn-container a {
    background-color: transparent !important;
    color: #fa411c;
}

.header-main-page-btn-container > .red-btn {
    padding: 10px 40px;
}

.header-main-page-btn-container {
    display: flex;
    justify-content: space-between;
}

.header-main-page-container .input-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333;
}

.header-main-page-container .input-container input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333;
}

.active-link-main {
    display: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: 1px solid #fa411c;
}

.active-main-link .active-link-main {
    display: block;
}

.header-main-page-pages-container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff !important;
}

.logout-btn {
    padding: 10px 30px !important;
}