.cust-option-selected:hover {
    color: #FFF;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px #fa2b1b;
    background-color: #fa2b1b!important;
}

.cust-option:hover {
    color: #FFF;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px #fa2b1b;
    background-color: #fa2b1b!important;
}

.cust-select > div:after {
    border-bottom-color: #fa2b1b!important;
}