.input-container {
    width: 100%;
}

.input-container .MuiInput-formControl:after {
    border-color: #fa2b1b !important;
}

.input-container label,
.input-container p {
    color: #726c80 !important;
}

.input-container input {
    color: #f2f2f2;
}

.input-container p {
    font-style: italic;
}

.input-container input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #231f2e inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #726c80;
}

.input-container input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #231f2e inset;/*your box-shadow*/
    -webkit-text-fill-color: #726c80;
}

.input-container > div {
    width: 100%;
}

.MuiInput-formControl:hover:not(.test):before,
.input-container .MuiInput-formControl:before {
    bolder-color: #f5f6f6!important;
}

.input-container input::placeholder{
    color: #f2f2f2;
    font-weight: 200;
}
.white-input > .MuiFormControl-root {
    margin-bottom: 0;
}

.white-input  input{
    color: #595662;
}

.white-input label{
    color: #595662;
}

.white-input input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #ffffff inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #726c80;
}

.white-input input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;/*your box-shadow*/
    -webkit-text-fill-color: #726c80;
}

.white-input input::placeholder {
    color: #595662!important;
    font-weight: 200;
}

.input-container p[class^='MuiFormHelperText-root CustomInput-labelRootError'] {
    color: #fa2b1b!important;
    font-style: normal!important;
    font-size: 12px;
}