.sub-title {
    color: #91899d;
    font-family: "Open Sans Light";
    font-size: 30px;
    width: 74%;
    font-weight: 300;
}

/*label{color: #91899d;*/
/*font-family: "Open Sans Light";*/
/*font-size: 15px;*/
/*font-weight: 300;}*/
/*span{color: #91899d;*/
/*font-family: "Open Sans Light";*/
/*font-size: 15px;*/
/*font-weight: 300;*/
/*}*/
.title-box {
    -webkit-box-pack: justify;
    display: flex
}

.title-box .right-cover {
    display: flex;
    -webkit-box-align: end;
}

.title-box p {
    color: #91899d;
    font-family: "Open Sans Light";
    font-size: 19px;
    font-weight: 300;
}

.title-box span {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 15px;
}

.input-text {
    margin-bottom: 23px
}

.input-text-lable {
    margin-bottom: 42px
}

.custom-card {
    background-color: #2e2b3f !important;
    color: #91899d !important;
}

.Dashboard-mainPanel-2 {
    background-color: #221E2E !important;
}

.MuiTableCell-body {
    color: #91899d !important;
    /*font-family: "Open Sans Light" !important;*/
    font-size: 19px !important;
    font-weight: 300 !important;
    padding: 15px 0 !important;
    border-bottom: 1px solid #91899d !important;
}

@media screen and (max-width: 767px) {
    .sub-title {
        width: 60%;
    }
}
