.billing-profile-tab {
    background-color: #25212e !important;
}

.billing-container-title {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #91899d;
}

.plan-container-content {
    width: 45%;
}

.billing-container-content {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.billing-container-content .current-plan {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #f5f6f6;
    text-transform: capitalize;
}

.billing-container-content .current-plan span {
    font-size: 24px !important;
}

.billing-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 7px 20px;
    min-width: 166px;;
}

.billing-container > div.billing-container {
    margin-bottom: 30px;
    padding: 32px 45px 45px 40px;
    background-color: #2e2b3f;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-self: center;
    flex-direction: column

}

.payment-method-user-name,
.payment-method-user-address {
    font-size: 24px;
    font-weight: 300;
    color: #f5f6f6;
}

.payment-method-user-card,
.payment-method-user-tel {
    font-size: 18px;
    font-weight: 300;
    color: #f5f6f6;
}

.billing-profile-tab > div {
    margin-top: 0 !important;
}

.billing-container-column-content {
    margin-top: 35px;
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.payment-method-btn {
    margin-top: 18px;
}

.billing-container-content .table-row {
    background-color: #2e2b3f;
    border-bottom: 1px solid #91899d;
    font-size: 19px;
    color: #91899d;
    font-weight: 200;
    padding: 15px 0;
}

.billing-container-content .column > a {
    color: #ff3d00 !important;
    cursor: pointer;
}

.editable_input-billing-info,
.container-content-editable span {
    font-size: 24px;
}

.billing-container-column-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row-names > .input-container {
    width: 50%;
}

.expiry-date-container {
    display: flex;
    flex-direction: column;
}

.expiry-date-inputs-container {
    display: flex;
}

.expiry-date-inputs-container .input-container > div.MuiFormControl-root,
.cvc-container .input-container > div.MuiFormControl-root {
    font-size: 24px;
    padding-top: 0;
}

#cvc-tooltip {
    width: 230px;
}

#cvc-tooltip > .MuiTooltip-tooltip {
    padding: 10px 20px 15px 10px;
}

.billing-cart-number,
.expiry-date-container {
    width: 250px;
}

.cvc-label {
    display: flex;
    font-size: 15px;
    height: 19px;
}

.cvc-label .material-icons {
    font-size: 15px;
}

.expiry-date-inputs-container .input-container:first-child {
    margin-right: 15px;
}

.update-payment-method input.MuiInputBase-input,
.billing-info-container-content input.MuiInputBase-input,
.update-payment-method label.MuiFormLabel-root,
.billing-info-container-content label.MuiFormLabel-root {
    font-size: 24px;
    font-weight: 300;
}

.update-payment-method label.MuiFormLabel-root {
    top: 0;
}

.row-card-info > div,
.row-names > .input-container,
.row-address-line2 > .input-container,
.billing-info-address-line1 > .input-container {
    margin-right: 40px;
}

.row-card-info > div:last-child,
.row-names > .input-container:last-child,
.row-address-line2 > .input-container:last-child,
.billing-info-address-line1 > .input-container:last-child {
    margin-right: 0;
}

.row-card-info > div > label,
.billing-container-column-row > .cust-select > label,
.billing-info-address-line2 > .cust-select > label {
    color: #91899d !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 17.5px;
    text-transform: capitalize;
    height: 19px;
}

.billing-container-column-row > .cust-select > label,
.billing-info-address-line2 > .cust-select > label {
    font-size: 24px;
}

.billing-container-column-row > .cust-select .MuiSelect-select,
.billing-info-address-line2 > .cust-select .MuiSelect-select {
    font-size: 24px;
    color: #f2f2f2 !important;
    font-weight: 300 !important;
}

.row-address-line1 > .input-container > .MuiFormControl-root,
.billing-info-address-line2 > .input-container > .MuiFormControl-root {
    padding-top: 22px;
}

.row-address-line1 > .input-container,
.row-address-line1 > .cust-select,
.billing-info-address-line2 > .cust-select,
.billing-info-address-line2 > .input-container {
    width: 50%;
}

.row-address-line1 > .cust-select,
.billing-info-address-line2 > .cust-select {
    padding-right: 40px;
}

.billing-address {
    width: 280px;
}

.billing-zip {
    width: 190px;
}

.billing-state {
    width: 250px;
}

.update-payment-method-btn-container,
.billing-info-btn-container {
    margin-top: 55px;
}

.billing-btn-cancel,
.billing-btn-cancel:hover {
    background-color: #2e2b3f;
    text-decoration: underline;
    text-transform: capitalize;
}

.billing-info-address-line1 > .input-container {
    width: 30%;
}

.billing-info-address-company-name-input {
    width: 100%;
}