.custom-sidebar-container .div[class^='Sidebar-background'] {
    background-image: none!important;
    background-color: #221E2E;
    align-items: flex-start;
    display: flex; 
    max-width: 260px;
    background-color: #2E2B3F;
    padding: 40px 15px;
    position: relative;
    overflow: hidden;
    z-index: 999;
    height: 100vh;
    background: -webkit-linear-gradient(rgba(255, 61, 0, 0.1) -10%, #2e2b3f, #2e2b3f);
    background: -o-linear-gradient(rgba(255, 61, 0, 0.1) -10%, #2e2b3f, #2e2b3f);
    background: linear-gradient(rgba(255, 61, 0, 0.1) -10%, #2e2b3f, #2e2b3f);
    transition: all 0.5s;
    overflow-y: auto; 
}


.user-info-sidebar-container {
    width: 100%;
    display: flex;
    height: 75px;
    padding: 10px 15px;
}

.user-info-sidebar-container-link {
    padding: 0 10px;
    align-items: center;
    color: white;
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 3px;
}

.user-info-sidebar-container-link:hover{
    color: white;
    text-decoration: none;
}

.user-info-sidebar-container-link-avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
}

.user-info-sidebar-container-link-name {
    font-family: 'Open Sans' !important;
    width: calc(100% - 35px);
    overflow: hidden;
    height: 24px;
    transition: transform 300ms ease 0s, opacity 300ms ease 0s;
}


.custom-sidebar-container div[class^='Sidebar-sidebarWrapper-'] {
    overflow-x: hidden;
}
.custom-sidebar-container div[class^='Sidebar-sidebarWrapper-']::-webkit-scrollbar {
    display: none;
}
.custom-sidebar-container div[class*='Sidebar-drawerPaperMini'] .user-info-sidebar-container-link {
    box-shadow: none!important;
    justify-content: center;
}

.custom-sidebar-container div[class*='Sidebar-drawerPaperMini'] .user-info-sidebar-container-link-avatar {
    margin-right: 0;
}

.custom-sidebar-container div[class*='Sidebar-drawerPaperMini'] .user-info-sidebar-container-link-name {
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
}

.custom-sidebar-container a[class^='Sidebar-logoNormal'] {
    font-family: "Arista Regular";
    background: linear-gradient(266deg, #ffcd70, #fb6a3f);
    text-decoration: none;
    text-transform: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.custom-sidebar-container a[class^='Sidebar-logoNormal']:hover {
    text-decoration: none;
}

.user-info-link-active {
    background-color: #ff3d00;
    color: white;
}

.user-info-link-active:hover,
.user-info-link-active:active,
.user-info-link-active:focus {
    text-decoration: none!important;
    color: white;
}

.custom-sidebar-container li.MuiListItem-root > a > div {
    font-family: 'Open Sans' !important;
}

.custom-sidebar-container li.MuiListItem-root > a:hover {
    text-decoration: none!important;
}

.custom-sidebar-container a[class^='Sidebar-logoMini']{
    display: flex;
    align-items: center;
    opacity: 1;
    margin-top: 0;
    max-height: none!important;
}

.custom-icon {
    background-position: center;
    background-repeat: no-repeat;
}