.button {
    background-color: #fa411c;
    color: white;
    font-weight: 200;
    padding: 10px 30px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 30px;
    outline: none;
    transition: background-color 0.8s ease;
    cursor: pointer;
    outline-style: none!important;
}

.button:disabled {
    background-color: grey;
    pointer-events: none;
}

.button:hover {
    background-color: #e03411;
}
