.table-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #91899d;
}

.table-header {
    border-bottom: 1px solid #918a9c;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 300;
}

.column-max {
    width: 360px;
}

.column-min {
    width: 90px;
}

.table-body-row {
    padding: 10px 0;
    margin-top: 5px;
    background: #23202e;
    box-sizing: border-box;
}

.column-center {
    justify-content: center;
}

.header-column > .fa {
    margin-left: 5px;
}

.table {
    position: relative;
    min-height: 120px;
}

.table-loader {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0;
    background-color: #00000047;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-empty {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #91899d;
}
