.tab-container div[class^='CardHeader-cardHeader-'] {
    margin: 0 !important;
    box-shadow: none !important;
}
.tab-container > div {
    box-shadow: none!important;
}

.tab-container .MuiTabs-flexContainer > button {
    font-weight: 200;
    outline: none!important;
}

.tab-container .MuiTabs-flexContainer span.MuiTab-wrapper {
    font-weight: 200;
    border-bottom: 2px solid #24202e;
}

.tab-container .Mui-selected {
    background: #24202e;
}

.tab-container .Mui-selected span.MuiTab-wrapper {
    color: white;
    font-weight: 200;
}

.tab-container .Mui-selected > span.MuiTab-wrapper {
    border-bottom: 2px solid white!important;
}

.tab-container span.MuiTouchRipple-root {
    display: none!important;
}

.tab-container {
    width: 100%;
}

.tab-container div[class^='Card-card-'] {
    background: #24202e;
}