.tab-video-finder-title {
    font-size: 24px;
    text-transform: capitalize;
}

.tab-video-finder > div > div > div > div > div >div > div.MuiTabs-flexContainer > button {
    width: 20% !important;
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;
    outline-style: none!important;
}

.tab-video-finder .MuiTabs-flexContainer > button:last-child {
    margin: 0 !important;
}

.tab-video-finder > div > div > div[class^='CardHeader-cardHeader-'] {
    padding-bottom: 30px;
}

.tab-video-finder > div > div > div[class^='CardBody-cardBody-'] {
    background: #2e2b3f !important;
    border-radius: 10px;
    padding: 20px 30px;
}

.tab-video-finder .MuiTabs-flexContainer span.MuiTab-wrapper {
    font-weight: 200;
    border-bottom: 2px solid #221e2e;
}