.video-search-container {

}

.video-search-title {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #91899d;
}

.video-search-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-search-button {
    border-radius: 16px;
    border: solid 1px #91899d;
    font-size: 15px;
    color: #f5f6f6;
    padding: 6px 20px;
    background-color: #2e2b3f;
}

.clear-search-button:hover{
    background-color: #2e2b3f;
}

.video-search-content-container div[class^='CardHeader-cardHeader-'] {
    background-color: #2e2b3f !important;
    padding: 0;
}

.video-search-content-container .Mui-selected {
    background: #2e2b3f !important;
}

.video-search-content-container button.MuiButtonBase-root {
    outline-style: none!important;
    display: flex;
    justify-content: flex-start;
    max-width: 185px !important;
    text-transform: none;
    box-sizing: border-box;
}

.video-search-content-container button.MuiButtonBase-root:first-child {
    padding-left: 0;
    margin-left: 0;
}

.video-search-tab-title {
    font-size: 16px;
}

.video-search-content-container .Mui-selected .video-search-tab-title {
    font-weight: 500 !important;
}

.video-search-content-container .MuiTabs-flexContainer span.MuiTab-wrapper {
    font-weight: 200;
    border-bottom: 2px solid #2e2b3f !important;
}

.search-by-kw-input label {
    font-size: 23px;
    color: #f5f6f6 !important;
}

.search-by-kw-input input {
    font-size: 23px;
}

.search-by-kw-select {
    margin: 0 !important;
}

.search-by-kw-select .MuiSelect-root input,
.search-by-kw-lang-select .MuiSelect-root input,
.search-by-kw-search-priority-select .MuiSelect-root input {
    font-size: 23px;
}

.search-by-kw-select .MuiSelect-root div,
.search-by-kw-lang-select .MuiSelect-root div,
.search-by-kw-search-priority-select .MuiSelect-root div {
    text-transform: none;
    color: #f5f6f6;
}

.search-by-kw-select label {
    left: 15px;
    color: #f5f6f6 !important;
}

.search-by-kw-select label,
.search-by-kw-lang-select label,
.search-by-kw-search-priority-select label,
.search-by-kw-datetime > label {
    top: 0 !important;
    text-transform: none;
    font-size: 23px;
}

.search-by-kw-lang-select label,
.search-by-kw-search-priority-select label,
.search-by-kw-datetime > label {
    color: #91899d!important;
}

.search-by-kw-lang-select label.MuiFormLabel-filled,
.search-by-kw-search-priority-select label.MuiFormLabel-filled,
.search-by-kw-datetime > label.MuiFormLabel-filled {
    font-size: 20px;
}
.search-by-kw-datetime > label {
    font-size: 15px;
    color: #91899d!important;
}
.search-by-kw-select .MuiSelect-root svg,
.search-by-kw-lang-select .MuiSelect-root svg,
.search-by-kw-search-priority-select .MuiSelect-root svg {
    color: #f5f6f6;
}
.search-by-kw-datetime input {
    font-size: 23px!important;
    color: #f5f6f6!important;
}

.search-by-kw-datetime input::placeholder {
    font-size: 23px!important;
    color: #f5f6f6!important;
}

.search-by-kw-select .MuiInput-underline:before,
.search-by-kw-lang-select .MuiInput-underline:before,
.search-by-kw-search-priority-select .MuiInput-underline:before {
    border-bottom-color: #f5f6f6 !important;
}

.search-by-kw-select .MuiSelect-select,
.search-by-kw-lang-select .MuiSelect-select,
.search-by-kw-search-priority-select .MuiSelect-select {
    font-size: 14px !important;
}

.search-by-kw-container-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advance-container {
    padding-top: 50px;
    justify-content: flex-end;
}

.search-by-kw-input {
    width: 70%;
    padding-right: 15px;
}

.search-by-kw-select {
    width: 30% !important;
    padding-left: 15px !important;
    box-sizing: border-box;
}

.video-search-content-container div[class^='CardBody-cardBody-'] {
    background-color: #2e2b3f !important;
}

.advance-container > div {
    align-items: center;
    cursor: pointer;
    color: #f5f6f6;
    display: flex;
}

.search-by-kw-lang-select,
.search-by-kw-search-priority-select {
    width: 43% !important;
}
.video-search-content-container div[class^='CardBody-cardBody-'] {
    padding-left: 0;
    padding-right: 0;
}

.search-by-kw-datetime {
    width: 43% !important;
}

.advance-params-container {
    padding-bottom: 40px;
}

.search-btn-container {
    padding-top: 20px;
    justify-content: center;
    display: flex;
}
.search-by-kw-btn {
    display: flex;
    align-items: center;
    font-size: 15px;
}