.tab-profile-title,
.tab-profile-title:hover,
.tab-profile-title:focus,
.tab-profile-title:active{
    font-size: 24px;
    color: white;
    text-transform: capitalize;
}

.tab-profile-container div[class^='CardBody-cardBody-'] {
    background-color: #2e2b3f;
    width: 880px;
    border-radius: 8px;
    display: flex;
    align-self: center;
}

.tab-profile-container div[class^='CardBody-cardBody-'] > div{
    margin-top: 40px;
    width: 100%;
}

div.billing-profile-tab::parent{
    background-color: #00acc1;
}

tab-profile-container .input-container input::placeholder{
    font-size: 24px;
}