.update-profile-container {
    width: 310px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.update-profile-container .input-container input {
    font-size: 23px;
}

.update-profile-container .input-container label {
    font-size: 23px;
}
.update-profile-btn-container {
    padding-top: 60px;
}
.update-profile-btn-container > button {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.alert-update-profile {
    position: fixed;
    top: 30px;
    right: 70px;
}

.alert-update-profile  span {
    font-size: 16px;
}