.update-image-container > .fileinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.update-image-container .img-circle {
    width: 100px;
    height: 100px;
}

.update-image-btn {
    background-color: #2e2b3f !important;
    box-shadow: none !important;
    border-radius: 21px !important;
    border: solid 1px #ff3d00 !important;
    width: 130px;
    outline: none!important;
}