.registration-container {
    width: 420px;
    margin: 0 auto;
}
.registration-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.registration-container h1 {
    text-align: center;
}