.popup-main-page {
    position: absolute;
    right: 120px;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 32px 24px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    width: 350px;
    z-index: 1;
}

.popup-main-page-arrow-singin {
    position: absolute;
    top: -37px;
    left: 110px;
    border: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
}

.popup-main-page-arrow-singup {
    position: absolute;
    top: -37px;
    right: 45px;
    border: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.login-main-page-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(89, 86, 98, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17px;
    z-index: 2;
}