.searching {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000096;
    z-index: 20000;
}

.searching-content {
    background-color: #fff;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    padding: 50px;
}

.searching-header {
    display: flex;
    align-items: center;
}

.searching-header-title {
    font-size: 28px;
    font-weight: 500;
}

.searching-header-loader {
    margin-left: 10px;
}
.searching-count,
.searching-header,
.searching-status {
    margin-bottom: 20px;
}

.searching-status {
    font-size: 16px;
}

.searching-count {
    font-size: 32px;
    font-weight: 200;
}

.search-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-button {
    font-weight: 600;
    font-size: 18px;
}