.login-main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-main-page-header {
    font-family: "Arista Regular";
    font-size: 45px;
    color: #151a26;
}

.login-main-page-input-container {
    width: 100%;
}

.login-main-page-input-container input{
    font-size: 15px;
    color: #595662;
}


.login-main-page-input-container label{
    font-size: 15px;
    color: #595662;
}


.login-main-page-btn-login {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
}

.login-main-page-btn-container {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.login-main-page-btn-container .login-main-page-btn-forgot{
    background: none!important;
    color: #595662;
    font-size: 12px;
    padding: 0;
    text-transform: capitalize;
}

.login-main-page-error-container {
    color: #fa411c;
    text-transform: capitalize;
    height: 24px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.already-login-header {
    font-size: 25px;
}

.already-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.already-login-container > a {
    background-color: #fa411c;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 25px;
}

.already-login-container > a:hover,
.already-login-container > a:active,
.already-login-container > a:focus {
    color: white;
    text-decoration: none;
}