.main-page-container-why-vidnetics {
    width: 100%;
    display: flex;
    padding: 95px 125px;
}

.main-page-why-vidnetics-left-content {
    flex-grow: 1;
    margin-top: 55px;
}

.main-page-why-vidnetics-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.main-page-why-vidnetics-subtitle > span {
    font-weight: 700;
    color: #ff3d00;
}

.main-page-why-vidnetics-header {
    font-family: "Arista Regular";
    font-size: 54px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 15px;
}

.main-page-why-vidnetics-desc {
    width: 500px;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.53;
    color: #ffffff;
    text-align: justify;
}

.main-page-why-vidnetics-demo-btn {
    margin-top: 55px;
    background-color: #282f43;
    border-radius: 35px;
    border: solid 1px #ff3d00;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    padding: 25px 60px;
}

.main-page-why-vidnetics-demo-btn:hover {
    background-color: #282f43;
}

.hero-image-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hero-image-container {
    position: relative;
    width: 495px;
    height: 520px;
}

/*.hero-image-shadow{*/
    /*position: absolute;*/
    /*width: 619px;*/
    /*height: 385px;*/
    /*transform: rotate(-45deg);*/
    /*opacity: 0.2;*/
    /*border-radius: 205.5px;*/
    /*background-color: rgba(0, 0, 0, 0.48);*/
/*}*/
