.v-ad-creator p,
.v-ad-creator span,
.v-ad-creator a,
.v-ad-creator div {
  font-family: "Open Sans", sans-serif !important;
}

.v-ad-creator .material-icons {
  font-family: "Material Icons" !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #91899d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #91899d;
  border-radius: 3px;
}

.v-ad-creator .MuiSnackbarContent-root .MuiSvgIcon-root {
  color: #ffffff;
  height: 24px;
  width: 24px;
}

.v-ad-creator .MuiSnackbarContent-root {
  /* background-image: linear-gradient(180deg, #1bc0ee 0%, #0a6486 100%); */
  text-align: center;
  width: 100%;
  box-shadow: none;
}

.v-ad-creator .MuiSnackbarContent-root .MuiSnackbarContent-message {
  width: 100%;
}

.v-ad-creator .MuiSnackbarContent-root .MuiSnackbarContent-message span {
  /* font-size: 23px; */
  font-weight: 100;
  font-family: "Open Sans", sans-serif !important;
  color: #ffffff;
}

.v-ad-creator .sub-title {
  width: 100%;
}

.alert {
  text-align: center;
  padding: 17px 15px;
  margin: 30px 30px 30px 0;
  position: relative;
  -moz-background-image: linear-gradient(180deg, #1bc0ee 0%, #0a6486 100%);
  -webkit-background-image: linear-gradient(180deg, #1bc0ee 0%, #0a6486 100%);
  background-image: linear-gradient(180deg, #1bc0ee 0%, #0a6486 100%);
  -ms-background-image: linear-gradient(180deg, #1bc0ee 0%, #0a6486 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.alert .close-icon {
  position: absolute;
  right: 15px;
  top: 14px;
}

.alert p {
  font-size: 23px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

.sub-title {
  color: #91899d;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: -1;
  margin-bottom: 24px;
  font-weight: 300;
}

.video-teb {
  margin: 50px 30px 0 0;
}

.video-teb .video-item {
  margin-bottom: 60px;
}

.video-teb .video-item .cover-div {
  background-color: #2e2b3f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  margin-bottom: 50px;
  border-radius: 8px;
  padding: 15px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.video-teb .video-item .cover-div .video-cover {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -35px;
}

.video-teb .video-item .cover-div .video-cover img {
  width: 100%;
}

.video-teb .video-item .cover-div .video-cover .form-wrap input {
  display: none;
}

.video-teb .video-item .cover-div .video-content {
  padding-top: 15px;
}

.video-teb .video-item .cover-div .video-content .title-text {
  color: #91899d;
  font-size: 16px;
  padding-bottom: 5px;
}

.video-teb .video-item .cover-div .video-content .btn-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li {
  padding: 0 5px;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #91899d;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a span {
  padding-right: 5px;
}

.video-teb .video-item .cover-div .video-content .btn {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.24px;
  line-height: 1;
  margin: 0;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: #ff3d00;
  color: #ffffff;
  border-color: #ff3d00;
  padding: 8px 22px;
}

.video-teb .video-item .cover-div .video-content .btn:hover {
  background: #ffffff;
  color: #ff3d00;
  border-color: #ffffff;
}

.video-teb .video-item .cover-div .video-content .btn:active {
  outline: 3px solid rgba(255, 61, 0, 0.2);
}

.cover-div {
  background-color: #2e2b3f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 15px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.cover-div .video-cover {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -35px;
}

.cover-div .video-cover img {
  width: 100%;
}

.cover-div .video-cover .form-wrap input {
  display: none;
}

.cover-div .video-content {
  padding-top: 15px;
}

.cover-div .video-content .title-text {
  color: #91899d;
  font-size: 16px;
  padding-bottom: 5px;
}

.cover-div .video-content .btn-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.cover-div .video-content .btn-content .dtl-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.cover-div .video-content .btn-content .dtl-list li {
  padding: 0 5px;
}

.cover-div .video-content .btn-content .dtl-list li a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #91899d;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.cover-div .video-content .btn-content .dtl-list li a span {
  padding-right: 5px;
}

.cover-div .video-content .btn {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.24px;
  line-height: 1;
  margin: 0;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: #ff3d00;
  color: #ffffff;
  border-color: #ff3d00;
  padding: 8px 22px;
}

.cover-div .video-content .btn:hover {
  background: #ffffff;
  color: #ff3d00;
  border-color: #ffffff;
}

.cover-div .video-content .btn:active {
  outline: 3px solid rgba(255, 61, 0, 0.2);
}

.video-teb {
  margin: 50px 30px 0 0;
}

.video-teb .video-item {
  margin-bottom: 60px;
}

.video-teb .video-item .cover-div {
  background-color: #2e2b3f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.video-teb .video-item .cover-div .video-cover {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -35px;
}

.video-teb .video-item .cover-div .video-cover img {
  width: 100%;
}

.video-teb .video-item .cover-div .video-cover .form-wrap input {
  display: none;
}

.video-teb .video-item .cover-div .video-content {
  padding-top: 15px;
}

.video-teb .video-item .cover-div .video-content .title-text {
  color: #91899d;
  font-size: 16px;
  padding-bottom: 5px;
}

.video-teb .video-item .cover-div .video-content .btn-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li {
  padding: 0 5px;
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #91899d;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.video-teb .video-item .cover-div .video-content .btn {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.24px;
  line-height: 1;
  margin: 0;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: #ff3d00;
  color: #ffffff;
  border-color: #ff3d00;
  padding: 8px 22px;
}

.video-teb .video-item .cover-div .video-content .btn:hover {
  background: #ffffff;
  color: #ff3d00;
  border-color: #ffffff;
}

.video-teb .video-item .cover-div .video-content .btn:active {
  outline: 3px solid rgba(255, 61, 0, 0.2);
}

.video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a span {
  padding-right: 5px;
}

.video-cover img {
  width: 100%;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-card .text-input {
  display: flex;
  align-items: flex-end;
}

.header-card .link-btn {
  display: flex;
  align-items: center;
}

.header-card .link-btn .save-link {
  opacity: 0.7;
  font-size: 12px;
  color: #f5f6f6;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  margin-right: 25px;
  text-decoration: underline;
}

.header-card .link-btn .btn {
  -moz-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease;
  border-radius: 30px;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.24px;
  line-height: 1;
  margin: 0;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: #ff3d00;
  color: #ffffff;
  border-color: #ff3d00;
  padding: 8px 22px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.headertext {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.headertext input {
  border: 0;
  margin: 0;
  color: #ff3d00;
  width: unset;
  padding: 0;
  font-size: 30px;
  max-width: 220px;
  background-color: inherit;
}

.headertext + .material-icons {
  margin: 0 0 6px 8px;
}

.headertext + .save {
  color: #ff3d00;
}

.headertext .MuiInput-underline:before {
  border: 0 !important;
}

.v-custom-card {
  margin: 4px 0 !important;
  background-color: #2e2b3f !important;
  color: #91899d !important;
}

.v-custom-card:first-child {
  margin-top: 30px !important;
}

.v-import-block {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.v-import-block .v-import-media-block {
  width: 40%;
  overflow-y: auto;
  height: 300px;
}

.v-import-block .v-video-preview-block {
  width: 40%;
  margin: 2px 0;
  height: 300px;
}

.v-import-block .v-video-preview-block img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.v-import-block .v-tips-block {
  width: 20%;
  height: 300px;
}

.v-import-block .v-time-block {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.v-import-block .v-time-block .v-time-label {
  width: 60px;
  text-align: center;
  padding: 4px;
}

.v-import-block .v-time-block .v-time-label p {
  margin: 0;
}

.v-import-block .v-time-block .v-time-bar {
  width: calc(100% - 60px);
  padding: 4px;
  background-color: #393649;
}

.v-import-block .v-time-block .v-time-bar .v-start-time {
  float: left;
  margin: 0;
}

.v-import-block .v-time-block .v-time-bar .v-end-time {
  float: right;
  margin: 0;
}

.v-import-block .v-action-block {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  min-height: 54px;
  border-top: solid 1px #423f51;
}

.v-import-block .v-action-block .v-text-label p {
  margin: 0;
}

.v-import-block .v-action-block .v-text-label {
  width: 60px;
  text-align: center;
  padding: 4px;
  align-items: center;
  display: grid;
  border-right: solid 1px #423f51;
}

.v-import-block .v-action-block .v-action-bar {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.v-accordian {
}

.v-accordian .MuiExpansionPanel-root {
  background: transparent;
}

.v-accordian .MuiExpansionPanelSummary-root {
  padding: 4px;
  border-bottom: solid 1px #423f51 !important;
}

.v-accordian .MuiExpansionPanelSummary-root .MuiExpansionPanelSummary-content p {
  color: #f5f5f6;
}

.v-accordian .MuiExpansionPanelSummary-root .MuiExpansionPanelSummary-content {
  padding-left: 40px;
  color: #f5f5f6;
}

.v-accordian .MuiExpansionPanelSummary-root .MuiExpansionPanelSummary-content .material-icons {
  margin: 12px 4px -8px 0;
  box-sizing: border-box;
}

.v-accordian .MuiExpansionPanelSummary-root .MuiExpansionPanelSummary-expandIcon {
  left: 0 !important;
  width: max-content;
}

.v-ad-creator .active .tooltip-box {
  opacity: 1;
  visibility: visible;
}

.v-ad-creator .tooltip-cover::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-bottom: 0;
  border-top-color: #f5f6f6;
  left: -12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.v-ad-creator .tooltip-cover h3 {
  color: #595662;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.v-ad-creator .tooltip-cover p {
  color: #91899d !important;
  font-size: 15px;
  line-height: 1;
  padding-top: 5px;
}

.v-ad-creator .tooltip-cover {
  padding: 15px 20px 26px;
  position: relative;
}

.v-ad-creator .tooltip-box {
  position: absolute;
  background-color: #f5f6f6;
  left: 140px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  top: 10px;
}

/* Text import css */
.v-import-text {
  width: 100%;
  padding: 8px;
}

.v-import-text-ul {
  padding-left: 24px;
}

.v-import-text-ul li {
  padding-left: 8px;
  color: #fff;
}

.v-import-text-ul .MuiFormControl-root {
  padding: 0;
  margin: 0;
}

.v-import-text-ul .MuiFormControl-root .MuiInputAdornment-positionEnd p {
  color: #f5f6f6;
  opacity: 0.5;
  font-size: 12px;
}

/* Image import css */
.v-import-image {
  width: 100%;
  padding: 0 16px;
  position: relative;
}

.v-import-image::after {
  content: "";
  left: 0;
  right: 0;
  height: 45px;
  position: absolute;
  top: -15px;
  background-position: center;
  background-image: url(./../../assets/img/shdow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.v-import-image .v-label p {
  color: #f5f6f6;
  font-size: 15px;
}

.v-import-image .v-label p span {
  font-size: 12px;
}

.v-image-list {
}

.v-image-list .v-image-row .v-img {
  color: #FFFFFF;
}

.v-image-list .v-image-row .v-desc p {
  width: 100%;
  margin: 0;
  color: #f5f6f6;
}

.v-image-list .v-image-row .v-desc span {
  float: right;
  cursor: pointer;
  color: #FFFFFF;
}

.v-image-list .v-image-row .v-desc {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
}

.v-image-list .v-image-row {
  padding: 15px 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(145, 137, 157, 0.5);
}

.v-upload {
}

.v-dropzone {
  border: 2px dashed #f5f6f6 !important;
  min-height: 90px !important;
  height: 90px;
  background-color: transparent !important;
  border-radius: 4px;
  padding: 24px 140px;
}

.v-dropzone div p {
  font-size: 14px !important;
  color: #fff;
  max-width: 172px;
  float: right;
}

.v-dropzone div svg {
  color: #ffffff;
  height: 20px;
  height: 20px;
  margin: 10px 0;
}

/* Video import css */
.v-import-video {
  width: 100%;
  padding: 0 16px;
}

.v-video-list {
}

.v-video-list .v-video-row .v-img {
}

.v-video-list .v-video-row .v-desc p {
  width: 100%;
  margin: 0;
  color: #f5f6f6;
}

.v-video-list .v-video-row .v-desc span {
  float: right;
}

.v-video-list .v-video-row .v-desc {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
}

.v-video-list .v-video-row {
  padding: 15px 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(145, 137, 157, 0.5);
}

/* Audio import css */
.v-import-audio {
  width: 100%;
  padding: 0 16px;
}

.v-text-box h6 .v-sub-icon {
  opacity: 0.5;
  max-width: 10px;
}

.v-text-box p {
  font-size: 12px;
  color: #f5f6f6;
  line-height: 1.2;
  margin: 0;
}

.v-text-box h6 {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  color: #91899d;
  font-size: 12px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 4px;
}

.v-text-box {
  cursor: pointer;
  background-color: #423f51;
  margin: 0 20px;
  padding: 2px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.v-text-box:hover .v-edit-popup,
.v-img-box:hover .v-edit-popup {
  opacity: 1;
  z-index: 1;
}

.v-edit-popup p span {
  padding: 0 5px;
}

.v-edit-popup p {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-size: 12px;
  color: #f5f6f6;
  margin: 0;
}

.v-edit-popup {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  background-color: #221e2e;
  top: -24px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
  padding: 3px 0;
  z-index: -1;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.v-img-box p,
.v-video-box p {
  font-size: 12px;
  color: #f5f6f6;
  line-height: 1.2;
}

.v-img-box,
.v-video-box,
.v-audio-box {
  position: relative;
  cursor: pointer;
  margin: 0 20px;
}

.v-video-box > div,
.v-audio-box > div {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  background-color: #221e2e;
  top: -24px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
  padding: 3px 0;
  z-index: -1;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.v-video-box .MuiButton-root:hover,
.v-audio-box .MuiButton-root:hover {
  background: transparent;
  box-shadow: none !important;
  padding: 0;
}

.v-video-box .MuiButton-root,
.v-audio-box .MuiButton-root {
  background: transparent;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.v-video-box:hover > div,
.v-audio-box:hover > div {
  opacity: 1;
  z-index: 1;
  padding: 0;
  margin: 0;
  height: 24px;
}

.v-video-box .MuiButtonBase-root:hover,
.v-audio-box .MuiButtonBase-root:hover {
  background-color: #ff3d00;
}

.v-video-box .v-edit-popup,
.v-audio-box .v-edit-popup {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  background-color: #221e2e;
  top: -6px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
  padding: 3px 0;
  z-index: 1;
  line-height: 1;
}

.pro-cover {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.v-action-text p {
  color: #423f51 !important;
  font-size: 15px;
}

.v-ctm-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: column;
  -moz-box-orient: column;
  box-orient: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 0;
}

.v-link-title {
  line-height: 1;
  text-align: left;
  padding-bottom: 10px;
  margin-right: auto;
  color: #595662;
  font-size: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.v-bottom-cover p {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  top: 50%;
  right: 24px;
}

.v-bottom-cover {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
}

.v-controll-path {
  width: 100%;
  height: 5px;
  position: relative;
  display: block;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #c9c9c9;
  margin: 0 24px 0 0;
}

.v-path-dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff3d00;
  right: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-path-dot {
  width: 20%;
  position: absolute;
  bottom: 0;
  top: 0;
  cursor: pointer;
  background-color: #ff3d00;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.v-audio-name-block p {
  font-size: 15px;
  color: #f5f5f6;
}

.v-audio-name-block span {
  float: right;
  cursor: pointer;
}

.v-audio-bar img {
  margin: 12px 0;
}

.v-audio-bar div {
  color: #FFFFFF;
}

.v-import-audio .v-controll-path {
  width: 80% !important;
}

.v-import-audio .v-ctm-content {
  padding: 12px;
  background: #393649;
  border-radius: 4px;
  margin-bottom: 10px;
}

.v-import-audio .v-bottom-cover .material-icons {
  margin: -10px 10px 0 -30px;
  color: #FFFFFF;
}

.v-import-audio .v-bottom-cover p {
  content: "";
  position: absolute;
  width: 35px;
  height: 15px;
  right: 0;
  border-radius: 100%;
  bottom: 0px;
  right: 0px !important;
  color: #f5f5f6;
  top: 2px !important;
  line-height: 0;
}

/* Media queries */
@media only screen and (max-width: 991px) {
  .alert {
    padding: 10px 30px;
    margin: 20px 30px 0 0;
  }

  .alert p {
    font-size: 16px;
  }

  .sub-title {
    font-size: 25px;
  }

  .video-teb .video-item:last-child {
    margin-bottom: 0;
  }

  .video-teb .video-item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .alert .close-icon {
    max-width: 12px;
  }

  .video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a {
    font-size: 12px;
  }

  .video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a span {
    max-width: 18px;
  }

  .video-teb .video-item .cover-div .video-content .btn {
    padding: 7px 9px;
    font-size: 12px;
  }

  .cover-div .video-content .btn-content .dtl-list li a {
    font-size: 12px;
  }

  .cover-div .video-content .btn-content .dtl-list li a span {
    max-width: 18px;
  }

  .video-teb .video-item .cover-div .video-content .btn {
    padding: 7px 9px;
    font-size: 12px;
  }

  .video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a span {
    max-width: 18px;
  }

  .video-teb .video-item .cover-div .video-content .btn-content .dtl-list li a {
    font-size: 12px;
  }

  .cover-div .video-content .btn {
    padding: 7px 9px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .sub-title {
    font-size: 21px;
    line-height: 1;
  }
}

@media only screen and (max-width: 500px) {
  .alert {
    margin: 30px 20px 0 0;
  }

  .alert p {
    line-height: 1.2;
  }

  .video-teb {
    margin: 50px 20px 0 0;
  }

  .video-teb {
    margin: 50px 20px 0 0;
  }
}

@media only screen and (max-width: 435px) {
  .sub-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .alert p {
    font-size: 12px;
    line-height: 1.4;
  }
}

.MuiListItemAvatar-root {
  min-width: 0 !important;
}

.extraButton .MuiFab-label {
  color: inherit;
  font-size: 10px !important;
  font-weight: bold;
}

.extraButton .MuiFab-label svg {
  color: #fff;
  font-size: 7px !important;
  margin-left: 5px;
}

.timeline-box {
  padding: 0;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  visibility:collapse;
}

@media only screen and (max-width: 1199px) {
  .page-cover .customize-video .timeline-box {
    width: 1200px;
    overflow-x: scroll;
  }
}

.last-cover {
  padding-left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-orient: column;
  -moz-box-orient: column;
  box-orient: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

.last-cover .link {
  font-size: 10px;
  opacity: 0.7;
  color: #91899d;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.last-cover .link .img-cover {
  max-width: 10px;
  display: block;
  margin: 0 3px;
}

.last-cover .link .img-cover svg {
  font-size: 13px;
}

.last-cover .link.next-btn {
  text-decoration: underline;
}

.last-cover .link:hover {
  color: #ff3d00;
}

.card-modal {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.card-modal span {
  font-size: 23px;
  color: #fff;
  margin-right: 10px;
  font-weight: 900;
}

.card-modal p {
  margin-bottom: 1px;
  font-weight: 500;
  margin-left: 17px;
}

#form-dialog-title {
  padding: 16px 24px 0 24px;
}

#form-dialog-title h6 {
  font-weight: 400;
  font-size: 2rem;
}

#form-dialog-title svg {
  font-size: 2.1rem;
  margin-right: 13px;
  color: #91899d;
}

#form-dialog-title span {
  float: right;
  cursor: pointer;
}

.suggestions-modal .react-swipeable-view-container > div {
  overflow-x: hidden !important;
}


#cover-for-video-script.video-cover{
  border-radius: 8px;
  background-color: #423f51;
}

#cover-for-video-script a:hover {
  color:#fff;
  text-decoration: none;
}

#cover-for-video-content.video-content {
  margin-left: 127px;
}

.MuiSnackbarContent-root{
  flex-wrap:nowrap !important;
}