.pricing-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 500px;
}

.border-chats-container {
    display: flex;
}

.border-chats {
    margin-top: 55px;
    width: 738px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 41px 32px 56px;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

.border-chats-circle {
    height: 70px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-chats-circle-bottom {
    height: 80px;
    align-self: flex-end;
    margin-bottom: 38px;
}

.pricing-container-people-info {
    padding-left: 85px;
    display: flex;
    width: 290px;
    justify-content: space-between;
}

.pricing-container-people-img {
    background-color: #00acc1;
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.pricing-container-people-info-work {
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
}

.pricing-container-people-info-work .bold-position {
    font-weight: 700;
}

.pricing-container-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    padding-bottom: 85px;
}

.pricing-container-btn-container > button {
    font-size: 18px;
    line-height: 0.45;
    color: #ffffff;
}

.pricing-container-btn-container > .yearly-btn {
    padding: 20px 60px;
    font-weight: 600;
}

.pricing-container-btn-container > .monthly-btn {
    background: transparent;
}

.pricing-container-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    margin-bottom: 30px;
}

.rate-container {
    position: relative;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 360px;
    border-radius: 17px;
    background-color: #ffffff;
}

.rate-header {
    font-family: "Arista Regular";
    font-size: 45px;
    text-align: center;
    color: #151a26;
}

.rate-count {
    font-family: "Arista Regular";
    font-size: 52px;
    color: #151a26;
    display: flex;
    align-items: flex-start;
}

.rate-count > span {
    font-family: "Arista Regular";
    font-size: 32px;
}

.rate-desc {
    margin-top: 15px;
    text-align: center;
    width: 280px;
    font-size: 15px;
    color: #545454;
}

.rate-checklist {
    padding-top: 15px;
}

.rate-checklist > div {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #545454;
}

.rate-checklist > div > span {
    width: 27px;
    box-sizing: content-box;
    height: 27px;
    padding-right: 15px;
}

.rate-checklist > div > span.active {
    color: red;
}

.pricing-btn-get-started {
    margin-top: 16px;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.sale-label {
    top: -16px;
    position: absolute;
    width: 148px;
    height: 32px;
    border-radius: 24px;
    box-shadow: -4px 18px 14px 0 rgba(0, 0, 0, 0.28);
    background-image: linear-gradient(92deg, #11ade8, #137296);
    font-size: 18px;
    font-weight: bold;
    line-height: 0.84;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-chats-circle-3 {
    position: absolute;
    z-index: 1;
    top: -36px;
    left: -55px;
    width: 84px;
    height: 100px;
}

.border-chats-circle-4 {
    position: absolute;
    z-index: 1;
    bottom: -35px;
    width: 100px;
    right: -45px;
}