

.VideoEditorContainer {
	//text-align: center;
}


.VideoEditorButton  {
	height:30px;
}
.VideoEditorButton button  {
   float:right;
}


.VideoEditor {
	padding:3px;
	background-color:#eeeeee;
	border-radius:5px;
	//display:inline-block;
}
.VideoEditorVideo {
	
	display:inline-block;
	margin-right:auto;
	margin-left:auto;
}
.VideoEditorAccordion {
	//display:inline-block;
	width:30%;
	float:left;
}
.Video {
	border-radius:5px;
}