.sub-header-editable {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.sub-header-editable  h1,
.sub-header-editable .editable_input > div{
    padding: 0;
    margin: 0;
}

.sub-header-editable  h1,
.editable_input input,
.sub-header-editable .material-icons{
    color: red;
    font-size: 2em;
    font-weight: 200;
}

.editable_input{
    width: 90%;
}

.sub-header-editable  h1{
    padding: 6px 0 8px;
}