.date-time-picker .rdt input.form-control {
    background-image: linear-gradient(#fa2b1b, #fa2b1b), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.date-time-picker .rdt input.form-control:focus {
    background-image: linear-gradient(#fa2b1b, #fa2b1b), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.date-time-picker .rdtDay.rdtToday.rdtActive, .rdtDay.rdtActive, .rdtDay.rdtActive:hover {
    background-color: #fa2b1b !important;
    color: #ffffff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #fa2b1b!important;
}

.date-time-picker .rdtPicker .dow,
.date-time-picker .rdtPicker th.rdtSwitch,
.date-time-picker .rdtPicker th.rdtNext,
.date-time-picker .rdtPicker th.rdtPrev,
.date-time-picker .rdtPicker .rdtTimeToggle {
    color: #fa2b1b!important;
}

.date-time-picker {
    width: 100%;
}

.date-time-picker .MuiFormControl-root {
width: 100%;
}