.admin-header > header {
    padding-top: 0;
}

.admin-header > header > div {
    align-items: start;
    padding-right: 0;
}

#header__button {
    margin: 0;
    border-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #2e2b3f;
    box-shadow: none;
    height: 70px;
    outline-style: none;
}

#notifications-header {
    margin: 0;
    border-radius: 0;
    height: 65px;
    border-bottom-left-radius: 60px;
    background-color: #2e2b3f;
    box-shadow: none;
    width: 70px;
    outline-style: none;
}

#icon-notifications-header {
    top: 20px;
    right: 30px;
    border: 0;
    height: 10px;
    display: block;
    position: absolute;
    font-size: 6px;
    min-width: 10px;
    background: transparent;
    text-align: center;
    line-height: 7px;
    border-radius: 10px;
    vertical-align: middle;
}

#icon-notifications-header-active {
    top: 20px;
    right: 30px;
    border: 0;
    height: 10px;
    display: block;
    position: absolute;
    font-size: 6px;
    min-width: 10px;
    background: #c5fa30;
    text-align: center;
    line-height: 7px;
    border-radius: 10px;
    vertical-align: middle;
}

.admin-header-subtitle:hover {
    text-decoration: none !important;
}

.admin-header-subtitle {
    margin-top: 5px;
    text-decoration: none;
    display: flex;
    line-height: normal;
    text-align: center;
    font-size: 15px;
    color: #8f8a9b !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.admin-header-subtitle span {
    padding-right: 5px;
    font-size: 13px;
    box-sizing: content-box
}

.admin-header-subtitle:hover,
.admin-header-subtitle:active {
    color: #8f8a9b;
}

.AdminNavbar-title-147 {
    cursor: pointer;
    padding-left: 20px;
}

.admin-header .MuiButton-label {
    display: block;
}

.admin-header .AdminNavbar-flex-146 {
    padding-top: 0;
    padding-bottom: 0;
}

#notifications-header > span > svg {
    top: -5px;
    right: -5px;
}

.admin-header-title {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #91899d;
}

div[class^='AdminNavbar-title-'] {
    padding: 0 30px;
    display: flex;
    /*align-items: center;*/
    height: 70px;
    flex-direction: column;
    justify-content: center;
}