.reset-password-main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.reset-password-main-page-header {
    font-family: "Arista Regular";
    font-size: 38px;
    color: #151a26;
}

.reset-password-main-page-content p.reset-password-text-reset {
    margin-top: 40px;
    margin-bottom: 0;
}

.reset-password-main-page-content .white-input > .MuiFormControl-root {
    margin-top: 13px;
}
.reset-password-main-page-content p.reset-password-text-reset,
.reset-password-main-page-content .white-input{
    font-size: 15px;
    color: #595662;
}

.reset-password-main-page-btn-container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.reset-password-main-page-btn-container button{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 50px;
}