.App {
  text-align: center;
}

.Left {
  float:left;
  margin-left:15%;
}
.LeftSideBar {
  float:left;
}
.Center {
  width:80%;
  float:left;
  margin: 100px 10%;
}


.Right {
  width:40%;
  float:right;
  margin: 100px 5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
