.table-video-search-container {
    background-color: #2e2b3f;
    border-radius: 10px;
    padding: 20px 30px;
}

.table-video-search-container .table-video-search-title {
    font-size: 30px;
    font-weight: 300;
}
.table-video-search-container .table-video-search-btn-container> button {
    font-size: 15px!important;
}
.table-video-search-container .table-video-search-btn-container {
    display: flex;
    width: 420px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.table-video-search-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.table-video-search-checkbox.Mui-checked {
    color: #ff3d00 !important;
}

.table-video-search-checkbox {
    color: #595662 !important;
}

.table-video-search-result-table .column {
    width: 140px;
    display: flex;
    align-items: center;
}

.table-video-search-result-table .max {
    width: 350px!important;
}
.table-video-search-result-table .min {
    width: 90px!important;
}

.with-sort {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table-video-search-result-table {
    padding: 30px 0;
}