@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.progress {
    min-width: auto !important;
    height: 3.5em !important;
    background-color: #3C4858 !important;
    margin: .3125rem 1px;
    font-weight: bold;
}

.progress-bar {
    background-color: #ff3d00 !important;
}

.shareButton {
    height: 3.5em;
    background-color: #ff3d00 !important;
    min-width: 10em !important;
}

.editButton {
    height: 3.5em;
    background-color: #3C4858 !important;
    min-width: 10em !important;
}

.shareButton span {
    color: #fff;
    font-weight: bold;
}

.editButton span {
    color: #fff;
    font-weight: bold;
}

.no-data{
    color: white;
    text-align: center;
}

.v-my-video .material-icons{
  font-family: 'Material Icons' !important;
}

.v-my-video p , .v-my-video span, .v-my-video a, .v-my-video div {
    font-family: 'Open Sans', sans-serif !important;
}
.v-my-video .MuiSnackbarContent-root .MuiSvgIcon-root{
    color: #ffffff;
    height: 24px;
    width: 24px;
}
.v-my-video .MuiSnackbarContent-root {
  background-image: linear-gradient(180deg, #c6ff00 0%, #617a07 100%);
  text-align: center;
  box-shadow: none;
}
.v-my-video .MuiSnackbarContent-root .MuiSnackbarContent-message{
    width: 100%;
}
.v-my-video .MuiSnackbarContent-root .MuiSnackbarContent-message span{
    font-size: 23px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif !important;
    color: #ffffff;
}
.progress {
  min-width: auto !important;
  height: 3.5em !important;
  background-color: #3c4858 !important;
  margin: 0.3125rem 1px;
  font-weight: bold;
}

.progress-bar {
  background-color: #ff3d00 !important;
}

.shareButton {
  height: 3.5em;
  background-color: #ff3d00 !important;
  min-width: 10em !important;
}

.editButton button {
  background-color: #3c4858 !important;
}
.editButton button {
  height: 3.5em;
  background-color: #3c4858 !important;
  min-width: 10em !important;
}

.shareButton span {
  color: #fff;
  font-weight: bold;
}

.editButton button span {
  color: #fff;
  font-weight: bold;
}

.actionButton button b,
.editButton button b {
  display: none;
}
.editButton .MuiButtonBase-root:first-child {
  border-bottom: 1px solid rgba(145, 137, 157, 0.5);
}
.editButton .MuiButtonBase-root {
  padding: 8px;
  margin: 0;
  min-width: 260px;
}
.pro-cover {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}
.v-icon {
  width: 20%;
  text-align: center;
}
.v-text {
  width: 60%;
}
.v-icon {
  width: 20%;
}
.v-upload-text {
  color: #595662;
  font-size: 15px;
}
.v-premium-text {
  text-decoration: underline;
  font-size: 12px;
  color: #91899d;
}
.v-label {
  color: #91899d;
  font-size: 15px;
}

.actionButton .MuiButtonBase-root:last-child {
  border: none;
}
.actionButton .MuiButtonBase-root {
  border-bottom: 1px solid rgba(145, 137, 157, 0.5);
  margin: 0;
  padding: 8px;
}
.v-action-text {
  width: 80%;
}
.v-action-text p {
  color: #595662;
  font-size: 15px;
}
.v-action-icon {
  width: 20%;
  text-align: center;
}
.marginBottomz,
.pro-cover p {
  margin-bottom: 0;
}

.v-my-video .MuiListItem-root:hover {
  background: #ff3d00 !important;
}

.edit-youtube-icon {
  width: 20px;
  height: 14px;
  overflow: hidden;
}
.edit-cloud-icon {
  width: 24px;
  height: 16px;
  overflow: hidden;
}
