.icon {
	text-align: right;
	margin-left: auto;
}

.parellel {
	display: flex !important;
}

.notification-box{
	max-height: 300px;
	overflow: auto;
	padding-right: 10px !important;
    padding-left: 10px !important;
}

.box-position{
	left: -20px !important;
}