.registration-main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registration-main-page-header {
    font-family: "Arista Regular";
    font-size: 45px;
    color: #151a26;
}

.registration-main-page-input-container {
    width: 100%;
}

.registration-main-page-btn-container {
    margin-top: 60px;
    margin-bottom: 25px;
}

.registration-main-page-btn-container > button {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
}

.registration-main-page-input-container input,
.registration-main-page-input-container label {
    font-size: 15px;
}

.registration-main-page-error-container {
    color: #fa411c;
    text-transform: capitalize;
    height: 24px;
    margin: 0;
    width: 100%;
    text-align: center;
}