@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-Light.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'Open Sans Extra Bold';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Open Sans Extra Bold Italic';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Semi Bold';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Semi Bold Italic';
  font-style: normal;
  src: url('../src/assets/scss/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Arista Regular';
  font-style: normal;
  src: url('../src/assets/scss/fonts/Arista/arista.regular.ttf');
}



body {
  font-family: 'Open Sans' !important;
}