.MuiCollapse-wrapperInner > div[role='region'] > div {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #24202e !important;
    color: white;
}

.MuiCollapse-wrapperInner > div[role='region'] > div > div {
}

.accordion-container .MuiPaper-elevation1 > div {
    width: 100%;
    padding: 0;
}

.accordion-container {
    height: 196px;
    overflow: hidden;
    border: 1px solid #393548;
}

h4[class^="Accordion-title-"] {
    padding: 10px;
    width: calc(100% - 48px);
}

h4[class^="Accordion-title-"] > div {
    display: flex;
    align-items: center;
}

h4[class^="Accordion-title-"] span.material-icons {
    padding: 0 15px;
}

.accordion-container .MuiButtonBase-root:hover {
    color: #fa411c !important;
}

.accordion-container .MuiButtonBase-root {
    background: #24202e !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    position: relative;
}

.accordion-content {
    padding: 15px 5px;
    border-bottom: 1px solid #393548;
}

.accordion-content:last-child {
    border-bottom: 0;
}

.active-accordion-tab {
    color: #fa411c !important;

}

.active-accordion-tab + div {
    height: calc(100% - 50px) !important;
}

.MuiCollapse-wrapper {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.d-n {
    opacity: 0;
    display: none;
}

.accordion-tab-title {
    margin: 0 !important;
    width: 100%;
}

.accordion-tab-title > div {
    display: flex;
    flex-direction: row-reverse;
}

.accordion-tab-title > div[role='button'] {
    border-bottom: 1px solid #393548 !important;
}

.accordion-tab-title > div .MuiTouchRipple-root {
    display: none;
}

.accordion-tab-title > div > .MuiButtonBase-root {
    right: 0;
}

.accordion-tab-active {
    width: 100%;
    height: 100%;
    background-color: #24202e !important;
}

.active-accordion-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.active-accordion-title-container > h4 > div > div {
    display: flex;
    align-items: center;
}