.coming-soon-title {
    text-align: center;
    color: #f5f6f6;
}

.coming-soon-subtitle {
    text-align: center;
    color: #91899d;
}

.coming-soon-container {
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}